.echart1 {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
.echart2 {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
.async {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
.echart4 {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
.annular {
	width: 800px;
	height: 800px;
	margin: 0 auto;
}